nav.navbar.navbar-default
  .container-fluid
    .navbar-header
    #myTopnav.topnav
      a(href='/transactions') My Transactions
      a(href='/accountdetails') Account Details
      a(href='/logout') Logout
      a.icon(href='javascript:void(0);' onclick='myFunction()')
        i.fa.fa-bars
